package header 

templ Header() {
    <head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Aniverse</title>
		<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet"/>
		<link rel="stylesheet" href="https://cdn.vidstack.io/player.css"/>
		<script src="https://cdn.vidstack.io/player.core" type="module"></script>
		<script src="https://cdn.jsdelivr.net/npm/hls.js@1.5.15/dist/hls.min.js"></script>
	</head>
}